<div id = "question">
<!-- 進行度、戻る/進むボタン -->
<div class="attach">
 <button type="button" class="nes-btn back">戻る</button>
 <progress class="nes-progress is-primary prog" value="50" max="100"></progress>
 <button type="button" class="nes-btn forward">進む</button>
</div>
                    
    <!-- 外枠、画面 -->
<div class="frame">
					<div class="nes-container is-rounded">
							<div class="botui-app-container1" id="hello-world">
									<bot-ui></bot-ui>
							</div>
					</div>
					<div class ="charactor ">
							<img class = "bear" src=bear1.png">
					</div>
					
			　</div>
</div>