<%= javascript_include_tag "questions.js" %>
<%= javascript_tag do %> 
	var current_user = <%= raw current_user.to_json %>;
<% end %>

<div class="nes-container is-rounded botui_container">
	<div class="botui-app-container1" id="hello-world">
		<bot-ui></bot-ui>
	</div>
</div>
<div class ="charactor ">
	<%= image_tag "imgs/bear/bear1.png", class: "bear" %>					
</div>				
