    <div id="home">
    <!-- 進行度、戻る/進むボタン -->
	<div class="attach">
		<button type="button" class="nes-btn is-disabled back">戻る</button>
		<progress class="nes-progress is-primary prog" value="0" max="100"></progress>
		<button type="button" class="nes-btn is-disabled forward">進む</button>
	</div>
	
	<!-- 外枠、画面 -->
	<div class="frame">
		<!-- タイトル -->
		<div class="start_title">
			<p class="start_text">セルフケアアプリケーション</p>
		</div>
		<div class="start_sub_title">
			<p class="start_text">Self-Care Application</p>
		</div>
		<!-- キャラクター -->
		<div class="character nes-octocat"></div>
		
		<!-- ログインフォーム -->
		<div class="nes-container is-rounded">
			
			<div class="login_container_id">
				<label for="id_field" class="login_text_id">ID:</label>
				<input type="text" id="id_field" class="nes-input login_id" placeholder="shimizu">
			</div>
			
			<div class="login_container_pass">
				<label for="pass_field" class="login_text_pass">パスワード:</label>
				<input type="password" id="pass_field" class="nes-input login_pass" placeholder="sy0927">
			</div>
			
			<button type="button" class="nes-btn login_btn">ログイン</button>
		</div>
		
		<!-- 新規登録フォーム -->
		<div class="new_login_form">
			<button type="button" class="nes-btn new_login_btn">新規登録</button>
		</div>
		
	</div>
	
	

    </div>
