<%= javascript_include_tag "index.js" %>

<%= javascript_tag do %>
    <!-- var example = <%= raw current_user.to_json %>; -->
<% end %>

<!-- ホーム画面（記録画面予定？） -->
<a href="./question" class="nes-btn test_btn attach_prog_off">テスト</a>
<a href="./plaza" class="nes-btn test_plaza_btn">広場画面</a>