<!-- ホーム画面（記録画面予定？） -->
<button type="button" class="nes-btn test_btn attach_prog_off">テスト</button>
<a href="./plaza" class="nes-btn test_plaza_btn">広場画面</a>

<!--
<%= javascript_tag do %>
  var test = "<%= raw @routine2 %>";
<% end %>
-->