<%= javascript_include_tag "questions.js" %>
<div id = "question">                
    <!-- 外枠、画面 -->
<div class="frame">
					<div class="nes-container is-rounded">
							<div class="botui-app-container1" id="hello-world">
									<bot-ui></bot-ui>
							</div>
					</div>
					<div class ="charactor ">
					        <%= image_tag "imgs/bear/bear1.png", class: "bear" %>
							
					</div>
					
			　</div>
</div>