// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* WEBフォント導入 */
/* 美咲フォント */

@font-face {
  font-family: "misaki1";
  src: url("./font_misaki/misaki_gothic.ttf");
}
@font-face {
  font-family: "misaki2";
  src: url("./font_misaki/misaki_gothic_2nd.ttf");
}
@font-face {
  font-family: "misaki3";
  src: url("./font_misaki/misaki_mincho.ttf");
}

/* スタイル */
@media screen and (min-width: 767px) {
  /* スマホ画面に合わせて確認できるようにここは用意してあるけど書いていない
           画面確認をする際はページ開いてF12押してからスマホ対応画面で確認 */
}
@media screen and (max-width: 767px) {
  /* 画面上部の付属物 */
  .attach {
    width: 350px;
    height: 50px;
    margin: 5px auto;

    .btn_attach_back {
      /* 戻るボタン */
      float: left;
      width: 80px;
    }
    .attach_prog {
      /* 進行度 */
      width: 150px;
      height: 43px;
      margin: 5px 12px;
      /* visibility: hidden; */
    }
    .btn_attach_forward {
      /* 進むボタン */
      float: right;
      width: 80px;
    }
  }

  /* 画面内 */
  .frame {
    width: 350px;
    height: 600px;
    border: solid 3px;
    margin: 0 auto;
    position: relative;
  }

  /* font用 */
  .nes-btn {
    font-family: "misaki2";
  }

  /* test用 */
  .test {
    width: 100px;
    margin: 10px auto;
    display: block;
  }

  /* test用 views/users/sessions/new.html.erbに適用してます */
  .form {
    font-family: "misaki2";
  }
}
