// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//###########################################
/* Webフォント導入：美咲フォント */
//###########################################
@font-face {
  font-family: "misaki1";
  src: url("./font_misaki/misaki_gothic.ttf");
}
@font-face {
  font-family: "misaki2";
  src: url("./font_misaki/misaki_gothic_2nd.ttf");
}
@font-face {
  font-family: "misaki3";
  src: url("./font_misaki/misaki_mincho.ttf");
}

//###########################################
/* その他 */
//###########################################
p {
  white-space: pre;
  font-family: "misaki2";
}

//################################################################################################
/* スタイル変更 */
//################################################################################################
@media screen and (min-width: 767px) {
  /* スマホ画面に合わせて確認できるようにここは用意してあるけど書いていない
           画面確認をする際はページ開いてF12押してからスマホ対応画面で確認 */
}
@media screen and (max-width: 767px) {
  //###########################################
  /* 画面上部の付属物 */
  //###########################################
  .attach {
    width: 350px;
    height: 50px;
    margin: 5px auto;

    .btn_attach_back {
      /* 戻るボタン */
      float: left;
      width: 80px;
    }
    .attach_prog {
      /* 進行度 */
      width: 150px;
      height: 43px;
      margin: 5px 12px;
      /* visibility: hidden; */
    }
    .btn_attach_forward {
      /* 進むボタン */
      float: right;
      width: 80px;
    }
  }

  //###########################################
  /* 画面内 */
  //###########################################
  .frame {
    width: 350px;
    height: 600px;
    border: solid 3px;
    margin: 0 auto;
    position: relative;
    background: #98fb98;

    //###########################################
    /* ログイン・新規登録画面 */
    //###########################################
    .start_title {
      width: 350px;
      margin: 20px 0 0;
    }
    .start_sub_title {
      width: 350px;
      margin: 0 0 10px;
    }
    .start_text {
      text-align: center;
    }
    .start_character {
      width: 272px;
      margin: 10px auto 10px;
      display: block;

      .character {
        width: 80px;
        height: 120px;
      }
    }
    .nes-container.is-rounded.form_login {
      width: 320px;
      margin: 0 auto;
      padding: 10px 0;
    }
    .login_container_id {
      width: 310px;
      margin: 0 auto;
    }
    .login_container_pass {
      width: 310px;
      margin: 15px auto 0;
    }
    .login_text_id {
      margin: 0 20px 0 49px;
      font-family: "misaki2";
      display: inline;
    }
    .login_id {
      width: 180px;
    }
    .login_text_pass {
      margin: 0 0 0 5px;
      font-family: "misaki2";
      display: inline;
    }
    .login_pass {
      width: 180px;
    }
    .login_remember {
      width: 270px;
      height: 25px;
      margin: 15px auto 0;
      font-family: "misaki2";
    }
    .login_btn {
      width: 100px;
      margin: 10px auto;

      .nes-btn {
        text-align: center;
        width: 100px;
      }
    }
    .login_render {
      text-align: center;
      width: 200px;
      margin: 10px auto 0;
      font-family: "misaki2";
    }
    .login_signup_btn {
      width: 100px;
      margin: 12px auto 0;

      .nes-btn {
        text-align: center;
        width: 100px;
      }
    }

    //###########################################
    /* 広場画面 */
    //###########################################
    .answer {
      position: absolute;
      top: 465px;
      left: 10px;
      width: 315px;
      //visibility: hidden;

      .nes-input {
        text-align: center;
      }
    }
    .btn_yes {
      position: absolute;
      top: 530px;
      left: 10px;
      width: 150px;
      //visibility: hidden;
    }
    .btn_no {
      position: absolute;
      top: 530px;
      left: 177px;
      width: 150px;
      //visibility: hidden;
    }
  }

  //###########################################
  /* font & background用 */
  //###########################################
  .nes-btn {
    font-family: "misaki2";
    background: white;
  }
  .nes-input {
    font-family: "misaki2";
    background: white;
  }
  .nes-container {
    background: white;
  }
  .nes-field {
    background: white;
  }

  //###########################################
  /* test用 */
  //###########################################
  .test {
    width: 150px;
    margin: 10px auto;
    display: block;
  }

  .test_plaza {
    top: 70px;
    left: 30px;
    width: 150px;
    position: absolute;

    .nes-container.is-rounded.test_text {
      width: 150px;
      margin: 0 auto;
      padding: 10px 0;

      .test_index {
        font-family: "misaki2";
        text-align: center;
        width: 100%;
      }
    }
    .test_character {
      width: 100px;
      margin: 10px auto 0;

      .character {
        width: 100px;
        height: 170px;
      }
    }
  }

  //###########################################
  /* test用 
  views/users/sessions/new.html.erb
  views/home/plaza.html.erb
  に適用してます */
  //###########################################
}
